#gCanvas {
	border: 1px solid black;
}

#applesText {
	margin-bottom: 10px;
}

.canvas-block {
	float: left;
}

.management-panel {
	float: left; 
	font-size: 1.5em; 
	margin-top: 32px;
	margin-left: 20px;
}